h2 {
  color: purple;
  font-size: 35px;
}
body {
  text-align: center;
  /* background-image: url("../img/grass.jpg") */
  background-color: #DEC8EC;
}
ul {
  list-style-type: none;
}
.info {
  font-size: 20px;
  font-family: serif;
  font-style: italic;
}
img {
  border: 5px purple solid;
}
h1 {
   color: purple;
   font-size: 60px;
}
.bold {
  font-weight: bold;
}
.footbar {
  border-top: 5px;
  background-color: gray;
  padding: 10px;
  color: white;
}
.background-light {
  background-color: #ECE7C4;
  color: brown;
}
.background-dark {
  background-color: black;
  color: #F6BDDF;
}
